<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>475 Final Project</title>
    <script src="/static/script.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 mt-2 mb-16">
    <div class="w-full p-2 flex items-center">
        <div class="m-auto flex flex-col items-center p-2">
            <h1 class="uppercase text-3xl tracking-widest font-bold">Welcome to our project</h1>
            <h1 class="text-[#5651e5] text-xl font-bold">Team: Gebremedhin's Guardians</h1>
        </div>
    </div>

    <!-- get input from the user -->
    <div class="w-full p-2 flex items-center">
        <div class="m-auto">
            <p class="py-4 text-xl text-bold text-center">Fill out the form to get a prediction of your dominant <br>emotional state based on your social media usage.</p>
            <form id="userInput" class="mx-16">
                <div class="grid grid-cols-2 gap-y-2">

                    <label for="age" class='uppercase text-sm py-2 tracking-widest'>Age:</label>
                    <input type="number" id="age" name="age" min="0" required class='border-2 rounded-lg border-gray-300 w-full'/>

                    <label for="gender" class='uppercase text-sm py-2 tracking-widest'>Gender:</label>
                    <select id="gender" name="gender" required class='border-2 rounded-lg border-gray-300'>
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Non-binary">Non-Binary</option>
                    </select>
            
                    <label for="socialMedia" class='uppercase text-sm py-2 tracking-widest'>Primary Social Media Platform:</label>
                    <select id="socialMedia" name="socialMedia" required class='border-2 rounded-lg border-gray-300'>
                        <option value="">Select Platform</option>
                        <option value="Instagram">Instagram</option>
                        <option value="Twitter">Twitter</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Linkedin">LinkedIn</option>
                        <option value="Whatsapp">Whatsapp</option>
                        <option value="Telegram">Telegram</option>
                        <option value="Snapchat">Snapchat</option>
                    </select>
            
                    <label for="daily-usage" class='uppercase text-sm py-2 tracking-widest'>Daily Usage in Minutes:</label>
                    <input type="number" id="daily-usage" name="daily-usage" min="0" required class='border-2 rounded-lg border-gray-300'/>
                    
                    <label for="postsPerDay" class='uppercase text-sm py-2 tracking-widest'>Posts Per Day:</label>
                    <input type="number" id="postsPerDay" name="postsPerDay" min="0" required class='border-2 rounded-lg border-gray-300'/>
            
                    <label for="likesReceivedPerDay" class='uppercase text-sm py-2 tracking-widest'>Likes Received Per Day:</label>
                    <input type="number" id="likesReceivedPerDay" name="likesReceivedPerDay" min="0" required class='border-2 rounded-lg border-gray-300'/>
            
                    <label for="commentsReceivedPerDay" class='uppercase text-sm py-2 tracking-widest'>Comments Received Per Day:</label>
                    <input type="number" id="commentsReceivedPerDay" name="commentsReceivedPerDay" min="0" required class='border-2 rounded-lg border-gray-300'/>
            
                    <label for="messagesSentPerDay" class='uppercase text-sm py-2 tracking-widest'>Messages Sent Per Day:</label>
                    <input type="number" id="messagesSentPerDay" name="messagesSentPerDay" min="0" required class='border-2 rounded-lg border-gray-300'/>
                
                </div>
                <button type="button" onclick="sendData()" class='w-full p-4 text-gray-100 mt-4 text-xl shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white'>Submit</button>
            </form>
        </div>
    </div>

    <!-- display the result -->
    <div class="w-full p-2 pt-8 flex items-center">
        <div class="m-auto">
            <h2 class="py-4 text-xl text-bold">Predicted emotion based on your social media usage:</h2>
            <p id="output" class="py-4 text-xl text-bold text-center"></p>
        </div>
     </div>
</body>
</html>